$ancho:100%;
$numero:20;
$title:'primario';
$paginas:(
    Index:url("../img/rack.webp"),
    Contacto:url("../img/contacto.jpg"),
    Frecuentes:url("../img/remo.webp"),
    Productos:url("../img/rackman.webp"),
    Quienes: url("../img/conjunto.jpg")
);